*{
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
}
section{
    width: 260px;
    min-height: 470px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
}
.code>img{
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 7px;
    height: 250px;
    width: 250px;
}
.code P{
    font-size: 15px;
    text-align: center;
}
.code h2{
    text-align: center;
}